html{
    margin: 0px;
}
body{
    height: 100%;
    margin: 0px;
    overflow: hidden;
}


#gridcon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;

    background-color: whitesmoke;
}

.griditem{
    width: 150px;
    height: 150px;
}
